<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Website - About</title>
  </head>
  <body>
    <h1>Brittany Thomas</h1>
    <p>
      My name is Brittany Thomas. I am currently pursuing a major in computer
      science and a minor in management studies at the University of the West
      Indies. My educational journey reflects my passion for technology and my
      desire to develop strong leadership skills. I am constantly seeking
      opportunities to learn new things and broaden my horizons. Exploring new
      places and immersing myself in different experiences is where I find
      inspiration and growth. Those who know me would describe me as highly
      motivated and driven to achieve my goals, consistently striving for
      excellence in all aspects of my life.
    </p>
  </body>
</html>
